<section id="about" class="light-gray-bg pv-20">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-1 text-center pv-20">
        <br>
        <h1 class="title large"><span class="text-default">Wellcome</span> To The Project</h1>
        <div class="separator"></div>
        <p class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo deserunt tempora qui.</p>
      </div>
    </div>
  </div>
</section>