<section class="section dark-translucent-bg parallax background-img-1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="call-to-action text-center">
          <div class="row">
            <div class="col-md-8">
              <h1 class="title">Connect</h1>
              <p>Schedule a Free Consult</p>
            </div>
            <div class="col-md-4">
              <br>
              <p><a href="#" class="btn btn-lg btn-gray-transparent btn-animated radius-50">Ask a Question<i class="fa fa-arrow-right pl-20"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>