<div class='flip-card feature-flipcard'>
  <div class='front'>
    <div class="card text-center">
      <span class="icon default-bg circle"><i class="fa {{ include.feature.icon }}"></i></span>
      <h3>{{ include.feature.title }}</h3>
      <h3 class='subtitle'>{{ include.feature.price }}</h3>
      <div class="separator clearfix"></div>
      <p>{{ include.feature.description }}</p>

      <div class='bottom'>
        <a href="javascript:void(0)" class='flip-toggle'>{{ include.feature.flip-link }} <i class="pl-5 fa fa-angle-double-right"></i></a>
        <a class='cta' target="_blank" href="{{ include.feature.cta-link }}">{{ include.feature.cta-title }}</a>
      </div>
    </div>
  </div>
  <div class='back'>
    <div class="card text-center">
      <h3>{{ include.feature.back-description }}</h3>
      <div class='list-title'>{{ include.feature.list-title }}</div>
      <ul>
        {% for list-item in include.feature.list-items %}
          <li>{{ list-item }}</li>
        {% endfor %}
      </ul>

      <div class='bottom'>
        <a href="javascript:void(0)" class='flip-toggle'>Back <i class="pl-5 fa fa-angle-double-right"></i></a>
        <a class='cta' target="_blank" href="{{ include.feature.cta-link }}">{{ include.feature.cta-title }}</a>
      </div>
    </div>
  </div>
</div>