<section id="about-2" class="main-container">
  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title">My Story</h1>
        <div class="separator-2 mb-20"></div>
        <!-- page-title end -->

        <div class="row">
          <div class="col-lg-6">
            <p>I recently gave birth to a beautiful baby boy, Bennet. (So many Bs!) I love him with all my heart and I get to spend every day with him. I’m also running a successful business. This was my dream. And it almost didn’t happen...</p>
            <p>My business and all of my corporate experience relied on my talent to manage projects, motivate teams, and get a business organized and running efficiently. I knew what I wanted to accomplish before my son was born. I had a set list of objectives and 9 months to get it all done. This should have been my bread and butter...instead I completely dropped the ball. Pregnancy left me scattered, tired, and my motivation was so low I just wished someone would give me a simple list of tasks to accomplish each day.</p>
            <p>My business survived, but it took a hit while I struggled through my pregnancy fog and essentially shuttered during my maternity leave. There is a better way to manage your business during this time in your life, but I found, it’s hard to do alone.</p>
            <p>I started Nesting Your Business to lend a strategic mind and motivated soul to business owners struggling to work through pregnancy or prepare for the changes ahead.</p>
            <p>Schedule a 15 minute discovery call and we’ll talk about your options to update your business to give you the business lifestyle you want during those first few months with your newborn and beyond.</p>
          </div>

          <!-- sidebar start -->
          <!-- ================ -->
          <aside class="sidebar col-lg-6">
            <div class="block clearfix">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//player.vimeo.com/video/29198414?byline=0&amp;portrait=0"></iframe>
                <p><a href="http://vimeo.com/29198414">Introducing Vimeo Music Store</a> from <a href="http://vimeo.com/staff">Vimeo Staff</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
              </div>
            </div>
          </aside>
          <!-- sidebar end -->
        </div>
      </div>
      <!-- main end -->

    </div>
  </div>
</section>
