<section id="about-2" class="main-container">
  <div class="container">
    <div class="row">

      <!-- main start -->
      <!-- ================ -->
      <div class="main col-12">

        <!-- page-title start -->
        <!-- ================ -->
        <h1 class="page-title">My Story</h1>
        <div class="separator-2 mb-20"></div>
        <!-- page-title end -->

        <div class="row">
          <div class="col-lg-6">
            <p>I started my business so that I could have the lifestyle I wanted with my kids. It was the whole reason I quit my corporate job. I just didn’t want to drop a 12-week-old at daycare five days a week.</p>              
            <p>When I first got started I didn’t have my son, so I built my business the way I knew how to work. I worked a typical 9-5 day, I responded to emails within minutes, and provided entrepreneurs with COO-for-hire services. I managed digital marketing projects and launches, motivated teams and got businesses organized and running efficiently. I was available all the time, and my clients loved it.</p>
            <p>Flash forward 2 years and I’m pregnant with our son. I had a lot of ideas about the kind of maternity leave I wanted to take and how I’d set up my business to work during this time. </p>
            <p>Now know I’m a project manager. I had a list of objectives for my business and a hard deadline (9 months!). This should have been my bread and butter...but I couldn’t get the work done. I couldn’t believe it. I’d always been the kind of person that made a goal, wrote out a plan of attack, and got to work. My business was built on this very talent. </p>
            <p>During pregnancy, I had too many days where I felt scattered, tired, and my motivation was so low I just wished someone would give me a simple list of tasks to accomplish each day. I realized just how much pregnancy affects how you work and how hard it is to take on a project - like designing your maternity leave - all by yourself.</p>
            <p>I started Nesting Your Business to take the work I’ve always done - helping entrepreneurs get organized and strategic about their business - and apply it at this very important stage for women business owners about to be become moms. I know the struggle and I’m here to lend a strategic mind and a motivated soul to ensure you get the maternity leave you deserve, your way.</p>
            <p>Have you started to think about your maternity leave?</p>
            <p>Let’s Connect. Schedule a Free Consult.</p>
            
            <p>[Read My Full Story Here]</p>
          </div>

          <!-- sidebar start -->
          <!-- ================ -->
          <aside class="sidebar col-lg-6">
            <div class="block clearfix">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//player.vimeo.com/video/29198414?byline=0&amp;portrait=0"></iframe>
                <p><a href="http://vimeo.com/29198414">Introducing Vimeo Music Store</a> from <a href="http://vimeo.com/staff">Vimeo Staff</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
              </div>
            </div>
          </aside>
          <!-- sidebar end -->
        </div>
      </div>
      <!-- main end -->

    </div>
  </div>
</section>
