<section id="pricing" class="pv-20 padding-bottom-clear clearfix">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h2 class="text-center">Pricing</h2>
        <div class="separator"></div>
        <p class="text-center large space-bottom">
          No matter where you are with your baby and your business, I can help. I work with parents and parents-to-be in 1 month, 3 month, and 6 month increments. 
        </p>
        <p class='text-center large space-bottom'>
          Our time together is spent reviewing your business, your desired lifestyle and designing a plan to shift your business to give you time with new family.
        </p>
      </div>
    </div>
    <!-- pricing tables start -->
    <!-- ================ -->
    <div class="pricing-tables circle-head object-non-visible" data-animation-effect="fadeInUpSmall"  data-effect-delay="0">
      <div class="row grid-space-10">
        <div class="col-md-4">
          <!-- pricing table start -->
          <!-- ================ -->
          <div class="plan shadow light-gray-bg bordered">
            <div class="header dark-bg">
              <h3>1 Month</h3>
              <div class="price"><span>$1350</span></div>
            </div>
            <ul class="">
              <li>2 Hour Strategy &amp; Planning Intensive</li>
              <li>3 Detailed Project Plans outlining step-by-step tasks</li>
              <li>1 Accountability Call</li>
            </ul>
          </div>
          <!-- pricing table end -->
        </div>
        <div class="col-md-4">
          <!-- pricing table start -->
          <!-- ================ -->
          <div class="plan shadow light-gray-bg bordered best-value">
            <div class="header default-bg">
              <h3>3 Months</h3>
              <div class="price"><span>$2550</span></div>
            </div>
            <ul>
              <li>2 Hour Strategy &amp; Planning Intensive</li>
              <li>3 Detailed Project Plans outlining step-by-step tasks</li>
              <li>Monthly Accountability Calls</li>
            </ul>
          </div>
          <!-- pricing table end -->
        </div>
        <div class="col-md-4">
          <!-- pricing table start -->
          <!-- ================ -->
          <div class="plan shadow light-gray-bg bordered">
            <div class="header dark-bg">
              <h3>6 Months</h3>
              <div class="price"><span>$4500</div>
            </div>
            <ul>
              <li>2 Hour Strategy &amp; Planning Intensive</li>
              <li>6 Detailed Project Plans outlining step-by-step tasks to accomplish goal</li>
              <li>Bi-Monthly Accountability Calls</li>
            </ul>
          </div>
          <!-- pricing table end -->
        </div>
      </div>
      <p class='text-center'>Custom pricing plans are available and I’m happy to discuss those plans to support you and your business.</p>
    </div>
    <!-- pricing tables end -->
    
  </div>
</section>