<section id="pricing" class="pv-20 padding-bottom-clear clearfix">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h2 class="text-center">Pricing</h2>
        <div class="separator"></div>
      </div>
    </div>
    <!-- pricing tables start -->
    <!-- ================ -->
    <div class="pricing-tables circle-head object-non-visible" data-animation-effect="fadeInUpSmall"  data-effect-delay="0">
      <div class="row grid-space-10">
        <div class="col-md-4">
          <!-- pricing table start -->
          <!-- ================ -->
          <div class="plan shadow light-gray-bg bordered">
            <div class="header dark-bg">
              <h3>1 Month</h3>
              <div class="price"><span>$1200</span></div>
            </div>
            <ul class="">
              <li>2 Hour Strategy &amp; Planning Intensive</li>
              <li>1 Project Plan</li>
              <li>1 Documented Process</li>
              <li>Recommended Software Mix</li>
              <li>1 Hour Motivation &amp; Support Call</li>
            </ul>
          </div>
          <!-- pricing table end -->
        </div>
        <div class="col-md-4">
          <!-- pricing table start -->
          <!-- ================ -->
          <div class="plan shadow light-gray-bg bordered best-value">
            <div class="header default-bg">
              <h3>3 Months</h3>
              <div class="price"><span>$2100</span></div>
            </div>
            <ul>
              <li>2 Hour Strategy &amp; Planning Intensive</li>
              <li>3 Project Plans</li>
              <li>3 Documented Processes</li>
              <li>Tech &amp; Tool Report including recommended software mix and cstom designed integration plan</li>
              <li>Monthly (3) 1 Hour Motivation &amp; Suport Calls, recorded</li>
              <li>1 Hour Maternity Leave Session</li>  
            </ul>
          </div>
          <!-- pricing table end -->
        </div>
        <div class="col-md-4">
          <!-- pricing table start -->
          <!-- ================ -->
          <div class="plan shadow light-gray-bg bordered">
            <div class="header dark-bg">
              <h3>6 Months</h3>
              <div class="price"><span>$3500</div>
            </div>
            <ul>
              <li>2 Hour Strategy &amp; Planning Intensive</li>
              <li>6 Project Plans</li>
              <li>6 Documented Processes</li>
              <li>Tech & Tool Report including recommended software mix, custom designed integration plan, and 1 sales funnel design</li>
              <li>Monthly (6) 1 Hour Motivation &amp; Support Calls</li>
              <li>1 Hour Maternity Leave Session</li>
              <li>1 Hour Return to Work Session</li>
            </ul>
          </div>
          <!-- pricing table end -->
        </div>
      </div>
      <p class='text-center'>Are you looking for support throughout your entire pregnancy? Custom pricing plans are available for 9+ month engagements. Contact me here and I’ll be happy to discuss custom plans to support you and your business.</p>
    </div>
    <!-- pricing tables end -->
    
  </div>
</section>