<div class="testimonial">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="text-center">
          <div class="testimonial-image">
            {% assign image_src = include.testimonial.image %}
            {% unless image_src contains '/uploads' %}
              {% assign image_src = image_src | prepend: "/assets/images/testimonials/" %}
            {% endunless %}
            <img src="{{ image_src }}" alt="{{ include.testimonial.name }}" title="{{ include.testimonial.name }}" class="rounded-circle">
          </div>
          <div class="separator"></div>
          <div class="testimonial-body">
            <blockquote>
              <p>{{ include.testimonial.quote }}</p>
            </blockquote>
            <div class="testimonial-info-1">- {{ include.testimonial.name }}</div>
            <div class="testimonial-info-2">{{ include.testimonial.company }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>