<div class="testimonial">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="text-center">
          <div class="testimonial-image">
            <img src="/assets/images/testimonials/{{ include.testimonial.image }}" alt="Jane Doe" title="Jane Doe" class="rounded-circle">
          </div>
          <div class="separator"></div>
          <div class="testimonial-body">
            <blockquote>
              <p>{{ include.testimonial.quote }}</p>
            </blockquote>
            <div class="testimonial-info-1">- {{ include.testimonial.name }}</div>
            <div class="testimonial-info-2">{{ include.testimonial.company }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>