<section class="pv-30">
  <div class="container">
    <h3 class='text-center'>{{ include.title }}</h3>
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
          <span class="icon large default-bg circle"><i class="fa fa-diamond"></i></span>
          <h3>Where You Are</h3>
          <div class="separator clearfix"></div>
          <ul class="text-muted text-left">
            <li>If you’re in your 1st or 3rd trimester I imagine, you are utterly exhausted and it seems like your growing baby has eaten your inner drive.</li>
            <li>You’re to-do list is a mile long and growing along with your baby.</li>
            <li>You’ve heard you need to “give yourself grace”, but what you really want is a plan to get things done!</li>
          </ul>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6">
        <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
          <span class="icon large default-bg circle"><i class="fa fa-diamond"></i></span>
          <h3>Where You Are</h3>
          <div class="separator clearfix"></div>
          <ul class="text-muted text-left">
            <li>If you’re in your 1st or 3rd trimester I imagine, you are utterly exhausted and it seems like your growing baby has eaten your inner drive.</li>
            <li>You’re to-do list is a mile long and growing along with your baby.</li>
            <li>You’ve heard you need to “give yourself grace”, but what you really want is a plan to get things done!</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
          <span class="icon large default-bg circle"><i class="fa fa-diamond"></i></span>
          <h3>Where You Are</h3>
          <div class="separator clearfix"></div>
          <ul class="text-muted text-left">
            <li>If you’re in your 1st or 3rd trimester I imagine, you are utterly exhausted and it seems like your growing baby has eaten your inner drive.</li>
            <li>You’re to-do list is a mile long and growing along with your baby.</li>
            <li>You’ve heard you need to “give yourself grace”, but what you really want is a plan to get things done!</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
