// Colors named with: http://chir.ag/projects/name-that-color/#6195ED
$color-white: #FFFFFF;
$color-silver-chalice: #AAAAAA;
$color-gallery: #EEEEEE;
$color-cerulean: #09afdf;
$color-dove-gray: #616161;
$color-valhalla: #2E174E;
$color-brand-transparent: rgba(46, 23, 78, 0.13);
$color-ocean-green: #45AB8B;
$color-brand: $color-valhalla;

