// Colors named with: http://chir.ag/projects/name-that-color/#6195ED
$color-white: #FFFFFF;
$color-silver-chalice: #AAAAAA;
$color-cerulean: #09afdf;
$color-dove-gray: #616161;
$color-brand: #2E174E;
