<!DOCTYPE html>
<!--[if IE 9]> <html lang="zxx" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="zxx" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html dir="ltr" lang="zxx">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<title>The Project | Header Default</title>
		<meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
		<meta name="author" content="htmlcoder.me">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="/assets/images/favicon.ico">

		<link href="https://fonts.googleapis.com/css?family=Raleway|Shadows+Into+Light|Montserrat" rel="stylesheet">
		
		<link href="/assets/css/style.css" rel="stylesheet">
	</head>

	<!-- body classes:  -->
	<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
	<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
	<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
	<!-- "gradient-background-header": applies gradient background to header -->
	<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
	<body class="no-trans  transparent-header  ">

		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<!-- page wrapper start -->
		<!-- ================ -->
		<div class="page-wrapper">
		
			<!-- header-container start -->
			<div class="header-container">
				
			
				
				<!-- header start -->
				<!-- classes:  -->
				<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
				<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
				<!-- "full-width": mandatory class for the full-width menu layout -->
				<!-- "centered": mandatory class for the centered logo layout -->
				<!-- ================ --> 
				<header class="header  fixed    clearfix">
					
					<div class="container">
						<div class="row">
							<div class="col-md-3 ">
								<!-- header-first start -->
								<!-- ================ -->
								<div class="header-first clearfix">
									
									
									<!-- logo -->
									<div id="logo" class="logo">
										<a href="/">
											<img src="/assets/images/nesting/logo_small.png" />
										</a>
									</div>
					
								</div>
								<!-- header-first end -->

							</div>
							<div class="col-md-9">
					
								<!-- header-second start -->
								<!-- ================ -->
								<div class="header-second clearfix">
									
								<!-- main-navigation start -->
								<!-- classes: -->
								<!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
								<!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
								<!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
								<!-- ================ -->
								<div class="main-navigation  animated with-dropdown-buttons">

									<!-- navbar start -->
									<!-- ================ -->
									<nav class="navbar navbar-default" role="navigation">
										<div class="container-fluid">

											<!-- Toggle get grouped for better mobile display -->
											<div class="navbar-header">
												<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
													<span class="sr-only">Toggle navigation</span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
												
											</div>

											<!-- Collect the nav links, forms, and other content for toggling -->
											<div class="collapse navbar-collapse" id="navbar-collapse-1">
												<!-- main-menu -->
												<ul class="nav navbar-nav ">

													<li><a href="#my-story" class='scroll-to'>My Story</a></li>
													<li><a href="#how-we-work-together" class='scroll-to'>How We Work Together</a></li>
													<li><a href="#pricing" class='scroll-to'>Pricing</a></li>
													<li><a href="/">X Contact X</a></li>
													<li><a href="/">X Blog X</a></li>

												<!-- main-menu end -->
												</div>
												<!-- header dropdown buttons end-->
												
											</div>

										</div>
									</nav>
									<!-- navbar end -->

								</div>
								<!-- main-navigation end -->
								</div>
								<!-- header-second end -->
					
							</div>
						</div>
					</div>
					
				</header>
				<!-- header end -->
			</div>
			<!-- header-container end -->
		
			<!-- banner start -->
			<!-- ================ -->

			<!-- banner end -->
			<div class='splash'>
				<div class='row'>
					<div class='col-md-7'>
							<h1><span class="logo-font">Nesting</span><br/>Your Business</h1>
							
							<hr/>

							<div class='subtitle'>Prepare For Your New Work-Life As a Parent</div>
			
							<div class='pv-30 row'>
								<div class='col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12'>
										<div class='text-center choice'><a href='#how-we-work-together' class='btn btn-info scroll-to'>Working Through Pregnancy</a></div>
										<div class='text-center choice'><a href='#how-we-work-together' class='btn btn-info scroll-to'>Design Your Maternity Leave</a></div>
										<div class='text-center choice'><a href='#how-we-work-together' class='btn btn-info scroll-to'>Your Business with a Baby &amp; Beyond</a></div>
								</div>

							</div>
					</div>

				</div>


			</div>

			<div id="page-start"></div>

			<div class='light-gray-bg pv-40'>
				<div class='container'>
					<h2 class='text-center'>Did you start your business in order to have more <span class='logo-font'>time</span> and <span class='logo-font'>flexibility</span> with your future family?</h2>
					<div class="separator"></div>
					<p class='text-center large'>Good for you.</p>
					<p class='text-center large'>Whether you’re a designer, copywriter, coach, blogger, in ecommerce or another field...the Internet has allowed moms to rewrite the rules on when, where, and how they work to create a lifestyle that works for them.</p>							
					<p class='text-center large'>You’re a pregnant business owner - Congratulations! First, on your upcoming bundle of joy and Second, on entering this tribe of women changing how we work so we can be there for our kids.</p>

				</div>
			</div>

			<section class="stats full-width-quote padding-bottom-clear default-bg hovered">
				<div class="clearfix">
					<div class="col-md-12 pv-40  col-xs-12 col-sm-3 text-center">
						<div class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
							You’re about to use that freedom for the first time to...<br/>
							<div class='logo-font'>...design a maternity leave that is completely unique</div>
							to you, your business, and your new family.
						</div>
					</div>					
				</div>
			</section>

			<section class="pv-30 padding-bottom-clear light-gray-bg">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<h1 class="text-center large">You have the freedom to decide exactly what you want to do.</h1>
							<div class="separator"></div>
							<p class="large text-center">You decide how much leave you'll take and how much you'll bring home while you're recovering and getting to know your new baby.</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="object-non-visible owl-carousel thought-questions-carousel" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								{% for question in site.data.thought_questions %}
									<div class='thought-question'>
										{{ question }}
									</div>
								{% endfor %}
							</div>
						</div>
					</div>

					<div class='row'>
						<div class='col-md-10 col-md-offset-1'>
								<p class='large text-center'>
									There's a lot to consider. All this freedom is empowering. It can also be overwhelming. Especially when you're pregnant and drained at the end of each day.
									<br/><br/>
									I know because I’ve been there.
								</p>
						</div>
					</div>
				</div>
			</section>
			
			<section class="pv-30" id='my-story'>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2>My Story</h2>
							<div class="separator-2"></div>
							<p>I'm an entrepreneur because I'm building a family centric lifestyle alongside a fulfilling career and I'm committed to helping other families navigate this path for themselves.</p>
							<p>Here's the short version of my journey that led me to you.</p>
							<ul>
								<li>I spent 12 years in corporate finance and advertising building systems and teams for marketing, business development, and operations.</li>
								<li>I left the corporate world a few years before we had kids because I knew I wanted to do things differently.</li>
								<li>I started building my business offering COO-for-hire services: digital marketing projects and launches, virtual team management, and strategic business organization/efficiency.</li>
								<li>When I got pregnant, I took a look at my business and knew there were things I needed to change. I made a long list of projects to complete to create the perfect maternity leave and restructure my services once I returned to work.</li>
								<li>My long list of projects grew longer, but very little got done.</li>
								<li>During pregnancy, I had too many days where I felt scattered, tired, and my motivation was so low that I just wished someone would give me a simple list of tasks to accomplish each day.</li>
								<li>I realized just how much pregnancy affects how you work and how hard it is to take on a project - like designing your maternity leave - all by yourself.</li>
								<li>I started Nesting Your Business to take the work I've always done - getting entrepreneurs organized and strategic about their business - and focus on soon-to-be moms ensuring you don't have to  sacrifice time with your new baby or the momentum you've built with your business.</li>
							</ul>
							
							<p>I know the struggle and I'm here to lend a strategic mind and motivated soul to ensure you get the maternity leave you deserve, Your Way.</p>
							
							<p>Have you started to think about your maternity leave?</p>
							<p>Let’s Connect.</p>
							<div class='text-center'>
								<a class='btn btn-lg btn-info' href='#'>X Schedule a Free Consult. X</a>
							</div>
						</div>

					</div>
				</div>
				<br>
			</section>

			<section class="light-gray-bg pv-30 clearfix" id='how-we-work-together'>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center">How We <strong>Work Together</strong></h2>
							<div class="separator"></div>
							<p class="large text-center">At the end of our time together your business will be a well-oiled machine. The machine you’ve probably been dreaming about since long before you got pregnant.</p>
						</div>
					</div>

					<div class='row'>
						<div class="col-md-4 ">
							{% include feature_flipcard.html feature=site.data.features.strategy %}
						</div>

						<div class="col-md-4 ">
							{% include feature_flipcard.html feature=site.data.features.plans %}
						</div>

						<div class="col-md-4 ">
							{% include feature_flipcard.html feature=site.data.features.process %}
						</div>
					</div>

					<div class='row'>
						<div class="col-md-4 ">
							{% include feature_flipcard.html feature=site.data.features.tech_tools %}
						</div>

						<div class="col-md-4 ">
							{% include feature_flipcard.html feature=site.data.features.motivation_support %}
						</div>

						<div class="col-md-4 ">
							{% include feature_flipcard.html feature=site.data.features.documentation %}
						</div>
					</div>

					<p class='large text-center'>Your body will naturally give you the energy and drive to get your home in order before your baby arrives. This is biology and its honed into each of us. This biological drive ensures we are prepared to bring our baby home, free of distractions, and able to focus on their care.</p>
					<p class='large text-center'>Your business needs the same Nesting efforts that naturally happen in your home. They just may not happen naturally! That’s where I come in. Choose the Package that best fits your business and let’s free you from all of life’s distractions by designing the perfect maternity leave!</p>
				</div>
			</section>

			<section id="pricing" class="pv-20 padding-bottom-clear clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center">Pricing</h2>
							<div class="separator"></div>
						</div>
					</div>
					<!-- pricing tables start -->
					<!-- ================ -->
					<div class="pricing-tables circle-head object-non-visible" data-animation-effect="fadeInUpSmall"  data-effect-delay="0">
						<div class="row grid-space-10">
							<div class="col-md-4">
								<!-- pricing table start -->
								<!-- ================ -->
								<div class="plan shadow light-gray-bg bordered">
									<div class="header dark-bg">
										<h3>1 Month</h3>
										<div class="price"><span>$1200</span></div>
									</div>
									<ul class="">
										<li>2 Hour Strategy &amp; Planning Intensive</li>
										<li>1 Project Plan</li>
										<li>1 Documented Process</li>
										<li>Recommended Software Mix</li>
										<li>1 Hour Motivation &amp; Support Call</li>
									</ul>
								</div>
								<!-- pricing table end -->
							</div>
							<div class="col-md-4">
								<!-- pricing table start -->
								<!-- ================ -->
								<div class="plan shadow light-gray-bg bordered best-value">
									<div class="header default-bg">
										<h3>3 Months</h3>
										<div class="price"><span>$2100</span></div>
									</div>
									<ul>
										<li>2 Hour Strategy &amp; Planning Intensive</li>
										<li>3 Project Plans</li>
										<li>3 Documented Processes</li>
										<li>Tech &amp; Tool Report including recommended software mix and cstom designed integration plan</li>
										<li>Monthly (3) 1 Hour Motivation &amp; Suport Calls, recorded</li>
										<li>1 Hour Maternity Leave Session</li>  
									</ul>
								</div>
								<!-- pricing table end -->
							</div>
							<div class="col-md-4">
								<!-- pricing table start -->
								<!-- ================ -->
								<div class="plan shadow light-gray-bg bordered">
									<div class="header dark-bg">
										<h3>6 Months</h3>
										<div class="price"><span>$3500</div>
									</div>
									<ul>
										<li>2 Hour Strategy &amp; Planning Intensive</li>
										<li>6 Project Plans</li>
										<li>6 Documented Processes</li>
										<li>Tech & Tool Report including recommended software mix, custom designed integration plan, and 1 sales funnel design</li>
										<li>Monthly (6) 1 Hour Motivation &amp; Support Calls</li>
										<li>1 Hour Maternity Leave Session</li>
										<li>1 Hour Return to Work Session</li>
									</ul>
								</div>
								<!-- pricing table end -->
							</div>
						</div>
						<p class='text-center large'>Are you looking for support throughout your entire pregnancy? Custom pricing plans are available for 9+ month engagements. Contact me here and I’ll be happy to discuss custom plans to support you and your business.</p>
					</div>
					<!-- pricing tables end -->
					
				</div>
			</section>

			<!-- <section class="section light-gray-bg clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center"><strong>Blog</strong></h2>
							<div class="separator"></div>
						</div>
					</div>
				</div>
				<div class="owl-carousel carousel-autoplay pl-10 pr-10">

					<div class="listing-item pl-10 pr-10 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="/assets/images/category-1.jpg" alt="">
							<a class="overlay-link" href="#"><i class="fa fa-plus"></i></a>
							<div class="overlay-bottom">
								<div class="text">
									<h3 class="title">X Pregnancy &amp; Your Online Business (Creativity is hard to come by!)</h3>
								</div>
							</div>
						</div>					
					</div>

					<div class="listing-item pl-10 pr-10 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="/assets/images/category-1.jpg" alt="">
							<a class="overlay-link" href="#"><i class="fa fa-plus"></i></a>
							<div class="overlay-bottom">
								<div class="text">
									<h3 class="title">X Map Your To-Do List to Your Energy Levels</h3>
								</div>
							</div>
						</div>					
					</div>

					<div class="listing-item pl-10 pr-10 mb-20">
						<div class="overlay-container bordered overlay-visible">
							<img src="/assets/images/category-1.jpg" alt="">
							<a class="overlay-link" href="#"><i class="fa fa-plus"></i></a>
							<div class="overlay-bottom">
								<div class="text">
									<h3 class="title">X How to Make Money While On Maternity Leave</h3>
								</div>
							</div>
						</div>					
					</div>
					
				</div>
			</section> -->

			<section id="section-4" class="section dark-translucent-bg" style="background-image: url(assets/images/agency-background-img-3.jpg);">
				<div class='container'>
					<div class="owl-carousel content-slider testimonial-carousel">
						{% for testimonial in site.data.testimonials %}
							{% include testimonial.html testimonial=testimonial %}
						{% endfor %}					
					</div>
				</div>
			</section>
							

			<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
			<!-- ================ -->
			<footer id="footer" class="clearfix ">

				<!-- .footer start -->
				<!-- ================ -->
				<div class="footer">
					<div class="container">
						<div class="footer-inner">
							<div class="row">
								<div class="col-md-3">
									<div class="footer-content">
										<div class="logo-footer"><img id="logo-footer" src="/assets/images/nesting/logo_small.png" alt=""></div>
										<p>
											Prepare for your new work-life as a parent. Start by designing the perfect maternity leave for you, your business, and your life with your baby. You deserve it.
											<a href="/">XX Learn More XX<i class="fa fa-long-arrow-right pl-5"></i></a></p>
										<div class="separator-2"></div>
										<nav>
											<ul class="nav nav-pills nav-stacked">
												<li><a href="/">XX Contact XX</a></li>
												<li><a href="https://docs.google.com/document/d/1OsPsIhVyr4Vlouvx_XJ0xicSkzyixBw82RvTg-IYLmE/edit?usp=sharinguse">XX Privacy XX</a></li>
												<li><a href="https://docs.google.com/document/d/1rWlyLWXopO_kgTtCGcKnf4z5CMpKHhAsIuKHkpmRjSc/edit?usp=sharinguse ">XX Terms XX</a></li>
											</ul>
										</nav>
									</div>
								</div>
								<div class="col-md-3">
									<div class="footer-content">
										<h2 class="title">Popular Posts</h2>
										<div class="separator-2"></div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
													<img class="media-object" src="/assets/images/blog-thumb-1.jpg" alt="blog-thumb">
													<a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 23, 2017</p>
											</div>
											<hr>
										</div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
													<img class="media-object" src="/assets/images/blog-thumb-2.jpg" alt="blog-thumb">
													<a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 22, 2017</p>
											</div>
											<hr>
										</div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
													<img class="media-object" src="/assets/images/blog-thumb-3.jpg" alt="blog-thumb">
													<a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2017</p>
											</div>
											<hr>
										</div>
										<div class="media margin-clear">
											<div class="media-left">
												<div class="overlay-container">
													<img class="media-object" src="/assets/images/blog-thumb-4.jpg" alt="blog-thumb">
													<a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
												</div>
											</div>
											<div class="media-body">
												<h6 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet...</a></h6>
												<p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2017</p>
											</div>
										</div>
										<div class="text-right space-top">
											<a href="blog-large-image-right-sidebar.html" class="link-dark"><i class="fa fa-plus-circle pl-5 pr-5"></i>More</a>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="footer-content">
										<h2 class="title">Portfolio Gallery</h2>
										<div class="separator-2"></div>
										<div class="row grid-space-10">
											<div class="col-xs-4 col-md-6">
												<div class="overlay-container mb-10">
													<img src="/assets/images/gallery-1.jpg" alt="">
													<a href="portfolio-item.html" class="overlay-link small">
														<i class="fa fa-link"></i>
													</a>
												</div>
											</div>
											<div class="col-xs-4 col-md-6">
												<div class="overlay-container mb-10">
													<img src="/assets/images/gallery-2.jpg" alt="">
													<a href="portfolio-item.html" class="overlay-link small">
														<i class="fa fa-link"></i>
													</a>
												</div>
											</div>
											<div class="col-xs-4 col-md-6">
												<div class="overlay-container mb-10">
													<img src="/assets/images/gallery-3.jpg" alt="">
													<a href="portfolio-item.html" class="overlay-link small">
														<i class="fa fa-link"></i>
													</a>
												</div>
											</div>
											<div class="col-xs-4 col-md-6">
												<div class="overlay-container mb-10">
													<img src="/assets/images/gallery-4.jpg" alt="">
													<a href="portfolio-item.html" class="overlay-link small">
														<i class="fa fa-link"></i>
													</a>
												</div>
											</div>
											<div class="col-xs-4 col-md-6">
												<div class="overlay-container mb-10">
													<img src="/assets/images/gallery-5.jpg" alt="">
													<a href="portfolio-item.html" class="overlay-link small">
														<i class="fa fa-link"></i>
													</a>
												</div>
											</div>
											<div class="col-xs-4 col-md-6">
												<div class="overlay-container mb-10">
													<img src="/assets/images/gallery-6.jpg" alt="">
													<a href="portfolio-item.html" class="overlay-link small">
														<i class="fa fa-link"></i>
													</a>
												</div>
											</div>
										</div>
										<div class="text-right space-top">
											<a href="portfolio-grid-2-3-col.html" class="link-dark"><i class="fa fa-plus-circle pl-5 pr-5"></i>More</a>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="footer-content">
										<h2 class="title">Find Us</h2>
										<div class="separator-2"></div>
										<p>I'd love to connect with you.</p>
										<ul class="social-links circle animated-effect-1">
											<li class="pinterest"><a target="_blank" href="https://www.pinterest.com/meghandicklin/nesting-your-business/"><i class="fa fa-pinterest"></i></a></li>
											<li class="instagram"><a target="_blank" href="https://www.instagram.com/meghandicklin/"><i class="fa fa-instagram"></i></a></li>
											<li class="facebook"><a target="_blank" href="https://www.facebook.com/nestingyourbusiness/"><i class="fa fa-facebook"></i></a></li>																					
										</ul>
										<div class="separator-2"></div>
										<ul class="list-icons">
											<li><i class="fa fa-map-marker pr-10 text-default"></i>Lafayette, CO</li>
											<li><i class="fa fa-phone pr-10 text-default"></i>(646) 283-6952</li>
											<li><a href="mailto:info@theproject.com"><i class="fa fa-envelope-o pr-10"></i>meghan@nestingyourbusiness.com</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .footer end -->

				<!-- .subfooter start -->
				<!-- ================ -->
				<div class="subfooter">
					<div class="container">
						<div class="subfooter-inner">
							<div class="row">
								<div class="col-md-12">
									<p class="text-center">Copyright © 2017 The Project by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>. All Rights Reserved</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .subfooter end -->

			</footer>
			<!-- footer end -->
			
		</div>
		<!-- page-wrapper end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster -->
		<!-- ================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="/assets/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
		<!-- Modernizr javascript -->
		<script type="text/javascript" src="/assets/plugins/modernizr.js"></script>
		<script type="text/javascript" src="/assets/plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
		<script type="text/javascript" src="/assets/plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
		<!-- Isotope javascript -->
		<script type="text/javascript" src="/assets/plugins/isotope/isotope.pkgd.min.js"></script>
		<!-- Magnific Popup javascript -->
		<script type="text/javascript" src="/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		<!-- Appear javascript -->
		<script type="text/javascript" src="/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
		<!-- Count To javascript -->
		<script type="text/javascript" src="/assets/plugins/jquery.countTo.js"></script>
		<!-- Parallax javascript -->
		<script src="/assets/plugins/jquery.parallax-1.1.3.js"></script>
		<!-- Contact form -->
		<script src="/assets/plugins/jquery.validate.js"></script>
		<!-- Owl carousel javascript -->
		<script type="text/javascript" src="/assets/plugins/owlcarousel2/owl.carousel.min.js"></script>
		<!-- Flip Cards -->
		<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="/assets/js/template.js"></script>
		<!-- Custom Scripts -->
		<script type="text/javascript" src="/assets/js/custom.js"></script>
			</body>
</html>
